@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  margin: 0;
  text-align: center; }

a, a:hover, a:focus, a:active {
  color: inherit; }

body {
  background-image: url("../resources/florian-olivo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-areas: "title" "menu" "content" "footer"; }

header {
  grid-area: title; }

#pageTitle {
  font-family: "Kaushan Script", cursive;
  font-size: 10vmin;
  padding: 5px; }

nav {
  grid-area: menu; }

#menuLine {
  position: relative;
  text-align: left;
  left: 20px; }

#menuButton {
  width: 30%;
  font-size: 4vmin;
  background-color: black;
  opacity: 50%;
  color: white;
  border: none;
  cursor: pointer; }

.menuContent {
  display: none;
  position: absolute;
  left: 20px;
  width: 30%;
  background-color: white;
  opacity: 50%; }
  .menuContent a {
    font-size: 3vmin;
    color: black;
    margin: 10px 5px;
    padding: 10px 0;
    text-decoration: none;
    display: block; }
  .menuContent a:hover {
    font-size: 3.3vmin;
    color: blue; }

#mainContent {
  padding: 3% 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60vh; }

.pageLink {
  font-family: "Kaushan Script", cursive;
  font-size: 6vmin;
  border: 8px groove #382412;
  border-radius: 10px;
  background: url("../resources/nathan-dumlao-wood.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  min-width: 80%;
  margin: 1% 1%;
  padding: 0; }
  .pageLink a, .pageLink a:hover, .pageLink a:focus, .pageLink a:active {
    display: block;
    text-decoration: none; }

.pageLink:hover {
  box-shadow: 0 0 5px 5px #070300; }

#socialContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  margin-top: 3vmin; }
  #socialContent a {
    display: inline-block;
    margin: 0 20vw;
    height: 10vh;
    border: 1px white solid;
    border-radius: 60%; }
    #socialContent a img {
      height: inherit; }
  #socialContent .profile {
    display: none; }

.profile {
  order: -1;
  height: 20vh;
  margin-bottom: 1vh;
  width: 100%; }

.profilePic {
  height: inherit;
  border-radius: 50%;
  border: 5px solid black; }

#interestsContent {
  margin: 3vh 5vw 0 5vw;
  min-height: 70vh;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around; }

.interests {
  width: auto;
  display: block; }
  .interests img {
    width: 200px; }

footer {
  bottom: 0px;
  position: fixed;
  width: 100%;
  color: white;
  background: black;
  opacity: 50%;
  font-size: 1.5vmin;
  font-family: "times new roman"; }

/* tablet */
@media only screen and (min-width: 401px) {
  #socialContent .profile {
    display: block; }
  #socialContent a {
    height: 15vmin;
    margin: 0 15vw; }

  /* desktop */ }
@media only screen and (min-width: 401px) and (min-width: 961px) {
  #socialContent {
    margin-top: 15px; }

  .pageLink {
    min-width: 40%; }

  .profile {
    order: 0;
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
