// Raleway font - light 300 - google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$primaryFont:'Raleway', sans-serif;
$secondaryFont: 'times new roman';

//---------------------------Layout & Background-----------------
*{
    margin:0;
    text-align: center;
}

a, a:hover, a:focus, a:active {
    color: inherit; }

body{

    //background picture
    background-image: url("../resources/florian-olivo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    color: rgba(255, 255, 255, 0.6);
    text-shadow: 3px 3px 3px black ;
    
    //grid settings
    display:grid;
    grid-template-areas: "title" "menu" "content" "footer";
}

//-------------------------Header----------------------------
header{
    grid-area: title;
}
#pageTitle{
    font-family: $primaryFont;
    font-size: 10vmin;
    padding:5px;
}

//------------------------Navigation (menu)-------------------
nav{
    grid-area: menu;
}

#menuLine{ //menu
    position: relative;
    text-align: left;
    left: 20px;
}

#menuButton{
    width: 30%;
    font-size: 4vmin;
    background-color: black;
    opacity: 50%;
    color: white;
    border: none;
    cursor: pointer;
}

.menuContent{
    display: none;
    position: absolute;
    left: 20px;
    width:30%;
    background-color: white;
    opacity: 50%;
    a {
        font-size: 3vmin;
        color: black;
        margin: 10px 5px;
        padding: 10px 0;
        text-decoration: none;
        text-shadow: none;
        display: block;
    }
    a:hover{
        font-size: 3.3vmin;
        color: blue;
    }
}

//---------------------------Content items-----------------------
//---------Homepage----------
#mainContent{ //content box
    padding: 3% 0%;
    // min-height: 40vh;
    // max-height: 80vh;
    // text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;
}

.pageLink{ //content items
    font-family: $primaryFont; 
    font-size: 6vmin;
    border: 8px groove #382412;
    border-radius: 10px;
    background: url('../resources/nathan-dumlao-wood.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    min-width: 80%;
    margin: 1% 1%;
    padding: 0;
    a, a:hover, a:focus, a:active {
        display: block;
        text-decoration: none;
    }
}
.pageLink:hover{
    box-shadow: 0 0 5px 5px rgb(7, 3, 0);
}

//---------Socials----------
#socialContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    margin-top: 3vmin;
    a{
        display:inline-block;
        margin: 0 20vw;
        height: 10vh;
        border-radius: 60%;
        img { 
            height:inherit; 
        } 
    }
    .profile{
        display: none;
    }
}
.profile{
    order:-1;
    height: 20vh;
    margin-bottom: 1vh;    
    width:100%;
    font-size: 6vmin;
}
.profilePic{
    height:inherit; 
    border-radius: 50%;
    border: 5px solid black;
}
//----------about me----------
#interestsContent{
    margin: 3vh 5vw;
    min-height: 60vh;
    display:inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.interests{
    width: auto;
    display:block;
    margin: 5vmin 0;
    font-family: $primaryFont;
    div{
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
    }
    img{
        width: 200px;
        border-radius: 10px;
        border: 1px solid black;
    }
    h2{
        font-size: 5vmin;
    }
    p{
        font-size: 4vmin;
        padding: 2vmin;
    }
}

//-------project content---------
#projectContent{
    display:grid;
    gap: 2vmin;
    margin: 2vmin;
    text-shadow: 2px 2px 2px black;
    section{
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        margin: 2vh 0;
    }
    h2{
        font-size: 3vmin;
    }
    p{
        font-size: 2.5vmin;
        padding: 1vmin;
    }
    a{
        font-size: 2vmin;
    }
    img{
        display: none;
        height: 30vmin;
        align-self: center;
        border: 1px solid black;
        border-radius: 10px;
    }
}
#skillsContent{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vmin;
    margin: 2vmin;
    text-shadow: 2px 2px 2px black;
    section{
        min-width: 70vw;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        margin: 2vh auto;
    }
    // h2{
    //     font-size: 3vmin;
    // }
    // p{
    //     font-size: 2.5vmin;
    //     padding: 1vmin;
    // }
    // a{
    //     font-size: 2vmin;
    // }
}

//--------------------------Footer-------------------------------
footer{
    // grid-area: footer;
    bottom:0px;
    position:fixed;
    width:100%;
    color:white;
    background: black;
    opacity: 50%;
    font-size: 3vmin;
    font-family: $secondaryFont;
}

// -------------------tablet and desktop views--------------------
/* tablet+ */
@media only screen and (min-width: 401px) {
// and (max-width: 960px)
//--------socials
    #socialContent {
        .profile{
            display: block;
        }
        a{
            height:15vmin;
            margin:0 15vw;
        }
    }
//---- about 
    #interestsContent{
        flex-wrap:nowrap;
    }
    .interests {
        display:flex;
        width: 90vw;
        justify-content: space-around;
        align-items: center;
        align-self: flex-start;
        div{
            display: inline-block;
            width: 60vw;
        }
        img{
            width: 25vw;
            height: auto;
        }
    }
    #interestCap2{
        order: -1;
    }
    
    //-----projects-----
    #projectContent{
        grid-template-areas: "One Two" "Three Four";
        img{
            display:block;
            justify-self: center;
        }

    }
    
    #projectOne{
        grid-area: One;
    }
        
    #projectTwo{
        grid-area: Three;
    }
        
    #figure1{
        grid-area: Two;
    }
        
    #figure2{
        grid-area: Four;
    }
    //---skills (tablet and desktop)
    #skillsContent{
        flex-wrap: nowrap;
        section{
            min-width: 25vw;
        }
    }
    /* desktop view */
    @media only screen and (min-width: 961px){
        //------socials-----
        #socialContent{
            margin-top: 15px;
        }
        .pageLink{
            min-width: 40%;
        }
        
        .profile{
            order:0;
            margin: 0;
        }
        //-------about me----
        #interestsContent{
            display: flex;
            flex-direction:row;
            min-height: auto;
            // padding: 0 0 40vmin 0;
        }
        .interests {
            display:flex;
            flex-wrap: wrap;
            width: 25vw;
            //     justify-content: space-around;
            //     align-items: center;
            div{
                margin-top: 2vh;
                width: 25vw;
            }
        }
        #interestCap2{
            order: 0;
        }
        //----projects----
        #projectContent{
            grid-template-areas: "Two Four" "One Three";
        }
    }
  }
  